#
# User defined Makefile options for the Video Disk Recorder
#
# Copy this file to 'Make.config' and change the parameters as necessary.
#
# See the main source file 'vdr.c' for copyright information and
# how to reach the author.
#
# $Id: Make.config.template 3.4 2015/02/09 09:58:45 kls Exp $

### The C compiler and options:

CC       = gcc
CFLAGS   = -O2 -Wall -fomit-frame-pointer

CXX      = g++
CXXFLAGS = -O2 -Wall -Werror=overloaded-virtual -Wno-parentheses -fomit-frame-pointer

# Use 'make M32=1 ...' to build a 32-bit version of VDR on a 64-bit machine:
ifdef M32
CFLAGS   += -m32
CXXFLAGS += -m32
endif

### The directory environment:

# Default directories (adjust as necessary or desired):

PREFIX    = /opt/vdr
BINDIR    = $(PREFIX)/bin
INCDIR    = /usr/include
LIBDIR    = $(PREFIX)/lib
LOCDIR    = $(PREFIX)/locale
MANDIR    = $(PREFIX)/man
PCDIR     = /usr/lib/pkgconfig
RESDIR    = $(PREFIX)/share
#DVBDIR    = /usr/src/v4l-dvb/linux/include/uapi

VIDEODIR  = /video
CONFDIR   = /data/etc
ARGSDIR   = $(CONFDIR)/conf.d
CACHEDIR  = /data/cache

LIBS+=-lintl -lexecinfo

# Overrides for preset/legacy configurations:

# Use 'make LCLBLD=1' to build locale and plugin files under the source directory:
ifdef LCLBLD
LOCDIR       = $(CWD)/locale
PLUGINDIR    = $(CWD)/PLUGINS
ifndef PLUGIN # don't overwrite for plugins with old makefiles
LIBDIR       = $(PLUGINDIR)/lib
endif
HDRDIR       = $(CWD)/include
endif

# Use 'make ONEDIR=1' to have all data in one single directory:
ifdef ONEDIR
VIDEODIR     = /video
CACHEDIR     = $(VIDEODIR)
CONFDIR      = $(VIDEODIR)
ARGSDIR      = $(VIDEODIR)/conf.d
RESDIR       = $(VIDEODIR)
endif

# Use this if you want to have a central place where you configure compile time
# parameters for plugins:
#PLGCFG = $(CONFDIR)/plugins.mk

### The remote control:
LIRC_DEVICE = /var/run/lirc/lircd

### Define if you always want to use LIRC, independent of the --lirc option:
#REMOTE=LIRC

### Define if you don't want keyboard remote control:
#NO_KBD = 1

### Define if you want vdr to not run as root:
#VDR_USER = vdr

### Define if you want to compile in 'bidi' support:
#BIDI = 1

### Define if you want 'systemd' notification:
#SDNOTIFY = 1

### Fallback for plugins with old makefiles:
ifdef PLUGIN
CFLAGS   += -fPIC
CXXFLAGS += -fPIC
endif
